- var fields = [{ type: 'text', name: 'title', label: 'Livro', placeholder: 'Nome do livro' }, { type: 'text', name: 'author', label: 'Autor', placeholder: 'Nome do autor' }, { type: 'text', name: 'genre', label: 'Gênero', placeholder: 'Gênero do livro' }]

div(class="rn-home__search")
  button(
    class="rn-home__search--show rn-btn rn-btn__link js--search-show",
    rv-on-click="app.controller.search.toggle"
    rv-text="app.state.showSearchInfo"
  )
  form(
    class="rn-home__search--form",
    rv-show="app.state.showSearch",
    rv-on-submit="app.controller.search.submit"
  )
    fieldset(rv-disabled="app.state.books.isLoading")
      div(class="rn-home__search--wrap")
        each field in fields
          div(class="rn-form__group")
            label(class="rn-form__label", for=field.name) #{field.label}
            input(
              class=`rn-form__input ${field.class}`,
              rv-class-has-error=`app.state.form.${field.name}.hasError`
              type=field.type,
              name=field.name,
              id=field.name,
              placeholder=field.placeholder,
              rv-value=`app.state.form.${field.name}.value`
              rv-on-keyup="app.controller.search.onChange"
            )
        div(class="rn-form__group")
          label(class="rn-form__label", for="publishing_company") Editora
          select(
            class="rn-form__select",
            rv-class-has-error="app.state.form.publishingCompany.hasError"
            id="publishing_company",
            name="publisher"
            rv-value="app.state.form.publisher.value"
            rv-on-change="app.controller.search.onChange"
          )
            option(value="" disabled selected) Escolha a editora
            option(
              rv-each-publisher="app.props.publishers",
              rv-value="publisher.id"
              rv-text="publisher.name"
            )
      div(class="rn-form__group")
        button(
          class="rn-home__search--submit rn-btn rn-btn__link",
          type="submit"
        ) Buscar outros livros
        button(
          class="rn-home__search--reset rn-btn rn-btn__link",
          type="button",
          rv-on-click="app.controller.search.clear"
        ) Limpar
