- var imgRemoveIconNotFound = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";

div(class="rn-header__user--info js--header-user-info")
  figure(class="rn-header__user--picture")
    img(
      class="has--placeloader js--lazy",
      src=imgRemoveIconNotFound,
      rv-data-src="app.state.user.picture",
      rv-alt="app.state.user.name",
      rv-title="app.state.user.name"
      placeholder="assets/images/user-placeholder.png"
    )
  span(class="rn-header__user--name", rv-text="app.state.user.name | firstName")

div(class="rn-header__user--menu js--header-user-menu")
  a(class="menu-item icon icon-backoffice", href="/backoffice", rv-if="app.state.user.role | backofficeAccess") Backoffice
  a(class="menu-item icon icon-user", href="/profile.html") Meu perfil
  a(class="menu-item icon icon-books", href="/bookings.html") Reservas
  a(class="menu-item icon icon-loans", href="/loan.html") Empréstimos
  button(class="menu-item icon icon-logout", rv-on-click="app.controller.user.logout") Sair
