- var fields = [{ type: 'text', name: 'name', placeholder: 'Nome' }, { type: 'email', name: 'email', placeholder: 'Email' }, { type: 'text', name: 'username', placeholder: 'Usuário' }, { type: 'password', name: 'password', class: 'js--register-password', placeholder: 'Senha (Mínimo 6 caracteres)' }]

section(class="rn-register js--register")
  div(class="rn-register__wrap")
    div(class="rn-register__heading")
      figure(class="rn-register__heading--icon")
        img(src="assets/images/icon.png" alt="Biblio logo")
    div(class="rn-register__content")
      p(class="rn-register__info") Preencha os campos abaixo para fazer o pré cadastro, é rapidinho.
      form(class="rn-register__form rn-form" rv-on-submit="app.controller.signUp.submit")
        fieldset(rv-disabled="app.state.form.isSubmiting")
          each field in fields
            div(class=`rn-form__group ${field.name}`)
              input(
                class=`rn-form__input ${field.class}`,
                rv-class-has-error=`app.state.form.${field.name}.hasError`
                type=field.type,
                name=field.name,
                placeholder=field.placeholder,
                rv-value=`app.state.form.${field.name}.value`
              )
              div(
                class="rn-form__error"
                rv-if=`app.state.form.${field.name}.hasError`
                rv-text=`app.state.form.${field.name}.error`
              )
          div(class="rn-form__group showPassword")
            input(
              class="rn-form__input",
              type="checkbox",
              name="showPassword",
              id="showPassword",
              rv-checked="app.state.form.showPassword"
              rv-on-change="app.controller.signUp.togglePassword"
            )
            label(for="showPassword", rv-text="app.state.form.showPasswordText")
          div(class="rn-form__group submit")
            button(
              class="rn-form__button",
              rv-text="app.state.form.buttonText",
              type="submit"
            )
      div(class="rn-register__register")
        span(class="rn-register__register--text") Não tem uma conta?
        a(href="/register.html") Crie uma agora!