div(class="rn-loan__search")
  button(
    class="rn-loan__search--show rn-btn rn-btn__link js--filters-show",
    rv-on-click="app.controller.search.toggle"
    rv-text="app.state.showSearchInfo"
  )
  form(
    class="rn-loan__search--form",
    rv-show="app.state.showSearch"
  )
    fieldset(rv-disabled="app.state.isFiltering")
      div(class="rn-loan__search--wrap")
        div(class="rn-form__group code")
          label(class="rn-form__label", for="code") Código
          input(
            class='rn-form__input',
            type='text',
            name='id',
            id='code',
            rv-value='app.state.form.code'
            rv-on-keyup="app.controller.search.onChange"
          )
        div(class="rn-form__group book")
          label(class="rn-form__label", for="book") Livro
          input(
            class='rn-form__input',
            type='text',
            name='book',
            id='book',
            rv-value='app.state.form.book'
            rv-on-keyup="app.controller.search.onChange"
          )
        div(class="rn-form__group status")
          label(class="rn-form__label", for="status") Status
          select(
            class="rn-form__select",
            id="status",
            name="status"
            rv-value="app.state.form.status"
            rv-on-change="app.controller.search.onChange"
          )
            option(value="Ativo") Ativo
            option(value="Finalizado") Finalizado
        div(class="rn-form__group date")
          label(class="rn-form__label", for="date") Data início
          input(
            class='rn-form__input',
            type='date',
            name='loan_date',
            id='loan_date',
            rv-value='app.state.form.loan_date'
            rv-on-change="app.controller.search.onChange"
          )
        div(class="rn-form__group date")
          label(class="rn-form__label", for="date") Data fim
          input(
            class='rn-form__input',
            type='date',
            name='end_date',
            id='end_date',
            rv-value='app.state.form.end_date'
            rv-on-change="app.controller.search.onChange"
          )
      div(class="rn-form__group")
        button(
          class="rn-loan__search--reset rn-btn rn-btn__link",
          type="button",
          rv-on-click="app.controller.search.clear"
        ) Limpar
